--root {
  --steps: ;
  --animation-time: ;
  --animation-delay: ;
}

.hero__section {
  min-height: calc(100vh - 5rem);
  max-width: 1200px;
  margin-inline: auto;
  overflow: hidden;
}
.hero__div {
  display: flex;
  align-items: center;
  position: relative;
  right: -5rem;
  bottom: 2rem;
}
.hero__text {
  position: relative;
  max-width: 410px;
}
.hero__text h3 {
  color: #202020;
  font-weight: 600;
  font-size: clamp(20px, 5vw, 46px);
}

.hero__desc {
  color: var(--color-gray);
  font-weight: 600;
  font-size: clamp(12px, 4vw, 24px);
}

.hero__video_contener {
  max-width: 60%;
}
.hero__video {
  position: relative;
  width: 90%;
  z-index: -1;
  top: -2rem;
  background-position: center;
}

/* the typer color and cursor */
.hero__nfts {
  color: blue;
}
.hero__COLLECTIBLE_ITEMS {
  color: orange;
}
.hero__APE_KILLER {
  color: red;
}
.Typewriter__cursor {
  font-family: var(--font-alt);
  font-size: clamp(25px, 10vw, 52px);
}
.Typewriter__wrapper {
  font-family: var(--font-alt);
  font-size: clamp(20px, 10vw, 45px);
  font-weight: 700;
}

/* media queryes for responsive */
@media (max-width: 1100px) {
  .hero__div {
    display: flex;
    align-items: center;
    position: relative;
    right: -4rem;
    bottom: 0rem;
  }
}
@media (max-width: 790px) {
  .hero__div {
    right: 0rem;
    bottom: 0rem;
    flex-direction: column;
    gap: 3.8rem;
  }
  .hero__video_contener {
    max-width: 90%;
  }
  .hero__video {
    top: 24px;
    width: 100%;
  }
  .hero__text {
    position: relative;
    top: 1rem;
    text-align: center;
    max-width: 410px;
  }
}
@media (max-width: 400px) {
  .hero__video {
    top: -20px;
  }
}
@media (max-width: 340px) {
  .hero__video {
    top: 40px;
    padding-bottom: 2rem;
  }
}
