.nav__nav {
  max-width: 1200px;
  margin-inline: auto;
  position: relative;
}

.nav__logo_div {
  font-family: "Akaya Telivigala", cursive;
  font-size: 50px;
}

.nav__links_div a {
  margin-inline: 0.6rem;
  position: relative;
  right: -0.5rem;
}
.nav__links_div a::before {
  content: "";
  bottom: -7px;
  position: absolute;
  width: 0;
  height: 3px;
  transition: 0.3s all;
  background-color: var(--color-black);
}
.nav__links_div a:hover::before {
  width: 100%;
}
.nav__mobile_icon {
  width: 30px;
  height: 25px;
  display: none;
  position: absolute;
  right: 2rem;
  z-index: 10;
}

.nav__mobile_icon span {
  transition: 0.3s all;
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
}
.nav__mobile_icon_close span:last-child {
  background-color: red;
  transform: rotate(-45deg);
}

.nav__mobile_icon_close span:nth-child(2) {
  display: none;
}
.nav__mobile_icon_close span:first-child {
  transform: rotate(45deg);

  background-color: red;
  top: 11px;
}

@media (min-width: 1269px) {
}
@media (max-width: 859px) {
  .nav__links_div a {
    margin-inline: 0.4rem;
  }
  .nav__button button {
    padding: 0.8rem 1.5rem;
    font-size: 14px;
  }
}

@media (max-width: 790px) {
  .nav__links_div,
  .nav__button {
    display: none;
  }
  .nav__links_div {
    gap: 30px;
  }
  .nav__mobile_icon {
    display: flex;
    gap: 6px;
    flex-direction: column;
  }
}
